<div name="login-register-form" class="col-md-4">
  <h1>Prijava</h1>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" ng-submit="login()">
    <div class="form-group">
      <label>Korisničko ime</label>
      <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
    </div>
    <div class="form-group">
      <label>Lozinka</label>
        <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
      </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="disabled">Prijava</button>
      </div>
      <br>
      <a href="/#register" class="btn btn-default">Registracija</a>      
  </form>
</div>